OCR_LANGUAGE=tr
OCR_VERSION=PP-OCRv5
OCR_DEVICE=cpu
OCR_PIPELINE=PP-StructureV3
OCR_CONFIDENCE_THRESHOLD=0.35
OCR_LOW_CONFIDENCE_THRESHOLD=0.55
OCR_MAX_FILE_SIZE_MB=100
OCR_MAX_PDF_PAGES=500
OCR_PDF_DPI=300
OCR_PREPROCESSING_ENABLED=true
OCR_GRAYSCALE=true
OCR_DENOISE=true
OCR_CONTRAST=true
OCR_SHARPEN=true
OCR_DESKEW=true
OCR_PERSPECTIVE_CORRECTION=true
OCR_AUTO_CROP=true
OCR_PALE_BOOST=true
OCR_ADAPTIVE_THRESHOLD=false
OCR_MIN_DIMENSION=1800
OCR_MAX_DIMENSION=5000
OCR_DESKEW_MAX_ANGLE=35
OCR_RAPID_FALLBACK=true
OCR_ENABLE_LAYOUT=true
OCR_ENABLE_TABLES=true
OCR_ENABLE_VISUAL_ELEMENTS=true
OCR_DOC_ORIENTATION=true
OCR_DOC_UNWARPING=true
OCR_TEXTLINE_ORIENTATION=true
OCR_SEAL_RECOGNITION=true
